<div class="container">
  <mat-form-field style="width: 700px;">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" [(ngModel)]="searchText" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell class="bigger-font-size" *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="teacher">
      <th mat-header-cell class="bigger-font-size" *matHeaderCellDef> Teacher </th>
      <td mat-cell *matCellDef="let element"> {{element.teacher}} </td>
    </ng-container>

    <ng-container matColumnDef="class-occupancy">
      <th mat-header-cell class="bigger-font-size" *matHeaderCellDef> Class Occupancy </th>
      <td mat-cell *matCellDef="let element" class="bold-text">
        <app-occupancy [value]="element.students.length / element.maxNoOfStudents * 100"></app-occupancy>
        {{ element.students.length / element.maxNoOfStudents | percent }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="bigger-font-size space-left" *matHeaderCellDef>Actions</th>
      <td class="space-left" mat-cell *matCellDef="let element;let i=index">
        <button mat-raised-button color="warn" type="button" style="margin-left:2px" (click)="delete(i)">Delete Class</button>
        <button mat-raised-button color="primary" type="button" [disabled]="element.students.length / element.maxNoOfStudents * 100 >= 100" style="margin-left:2px" (click)="openDialog('Add', element, i)">Add Student</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
